* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    width: 100%;
    height: 650px;
    background: #a0b1da;
    padding: 25px;
    border: 2px solid rgb(91, 108, 164);
    border-radius: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
