* {
    box-sizing: border-box;
}

/* ====Body parts==== */

header{
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("images/dotted.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: auto; 
    background-attachment: fixed; 
    text-align: center;
    padding-right: 200 px;
    margin: 100px;
    padding-top: 50 px;
}
section {
    width: 100%;
    height: 650px;
    background: rgba(74, 123, 179, 0.5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 40px; 
}
.content-wrapper {
    display: flex;
    align-items: center;
    gap: 40px; 
    max-width: 90%;
}


/* ====Banner====*/
.banner {
    width: 100%;
    max-width: 800px; 
    margin: 20px auto;
}

.banner img {
    width: 100%;
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


/* ==== Texts ==== */
h2{
    text-decoration: overline underline;
    font-size: clamp(24px, 5vw, 30px);
}
p{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: rgb(5, 14, 48);
    font-size: clamp(16px, 2vw, 22px);
    line-height: 1.5;
}



/* ==== Sunfish profile ==== */
.sunbastard{
    position: relative;
    width: 40%;
    flex-shrink: 0;
    height: auto;
    filter: 
        drop-shadow(0 0 2px rgba(0, 0, 0, 0.3))
        hue-rotate(0deg);
    transition: filter 0.5s;
}
.sunbastard::before {
    content: '';
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 50%;
    z-index: -1; /* Behind the image */
}
.sunbastard img{
    width: 100%;
    height: auto; 
    border-radius: 10px; 
}
.sunbastard:hover{
    filter: 
    drop-shadow(0 0 8px rgb(50, 65, 90))
    hue-rotate(30deg);
}



/* ====Navigation Bar====*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(48, 82, 121);
    justify-content: right;
    width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:rgba(20, 33, 75, 0.5);
}

