* {
    box-sizing: border-box;
}

header{
    text-align: center;
    margin-bottom: 20px;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("images/dotted.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: auto; 
    background-attachment: fixed; 
    text-align: center;
    padding-right: 200 px;
    margin: 100px;
    padding-top: 50 px;
}

.banner {
    width: 100%;
    max-width: 800px; 
    margin: 20px auto;
}

.banner img {
    width: 100%;
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
section {
    width: 100%;
    height: 650px;
    background: rgba(101, 151, 213, 0.5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    align-items: center;
}

.sunbastard{
    left: 90px; 
    margin: 20px;
    width: 50%;
    height: auto;
}
.sunbastard img{
    width: 100%;
    height: auto; 
    border-radius: 10px; 
}



nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    justify-content: right;
    width: 100%;
}
ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #0a2036;
}

/*
.mycontainer{
    width: 100%;
    overflow: auto;
}

.mycontainer div{
    width: 33%;
    float: left;
}

.sky-squid {
  filter: 
    drop-shadow(0 0 2px rgba(255, 255, 255, 0.3))
    hue-rotate(0deg);
  transition: filter 0.5s;
}

.sky-squid:hover {
  filter: 
    drop-shadow(0 0 8px rgba(255, 255, 255))
    hue-rotate(30deg);
}
*/
